
:root{
    --secondary-bg:rgb(242, 241, 241);
    --background:white;
    --text-primary:black;
    --text-secondary:black;
}

[data-theme='dark']{
    --secondary-bg:black;
    --background:rgb(0, 0, 0);
    --text-primary:white;
    --text-secondary:grey;
}

*{
    
    color: var(--text-primary);
}

.App{
    background-color: var(--secondary-bg);
}
